.claude/settings.json
__pycache__/streamlit_app.cpython-313.pyc
UK_data_alt - Copy.csv
.gitignore
UK_data_alt_old.csv
UK_data_haver - Copy.csv
with_discontinued/UK_data_alt.csv
UK_data_alt copy.csv
with_discontinued/UK_data_haver.csv
